#header .nav-link{
    color: #138646;
}

.theme-fortBrasil{
    padding-top:.03rem;
}
#header .navbar{
    padding:0;
    margin-top:0;
    margin-bottom:0;
    background:#fff;
}
#header{
    background:#fff;
    position:fixed;
    width:100%;
    height:5rem;
    top:0;
    box-shadow:2px 2px 4px rgba(0,0,0,.3);
    z-index:1001;
}
.trabalhe__conosco{
    margin-top: 80px;
    box-sizing: border-box;
}
.paragrafo {
    line-height: 10px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #474747;
    font-weight: 600;
}

#sticky-footer {
    margin-top: 50px;
}

.vagas_fortbrasil {
    display: block;
    width: 100%;
}

/* 
.menu-principal {
    position: fixed;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
} */
/*
.menu-principal img {
    margin-left: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 150px;
}

nav ul li {
    padding: 10px;
    color: #138646;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

article {
    background-color: #F2F2F2;
}

article .container {
    margin: 50px auto;
    width: 85%;
    color: #474747;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

section .content-principal {
    display: flex;
    justify-content: space-between;
}

section .header-subtitle {
    text-align: center;
}

section .content {
    display: flex;    
    text-align: justify;
    margin-top: 50px;
    width: 47%;
}

section .player {
    display: flex;
    width: 47%;
    margin-top: 70px;
} */
