<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Vagas Fortbrasil</title>
</head>
<body class="theme-fortBrasil">
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <a href="#Home" class="navbar-brand"><img src="./img/fortbrasil-logo.png" alt="fortbrasil-logo"></a>
            <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" data-aria-controls="expanded">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="" class="nav-link">Fortbrasil</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Oportunidades</a></li>
                </ul>
            </div>

        </nav>
    </header>







    <article class="">
        <img class="img-fluid trabalhe__conosco" src="img/Fortbrasil-trabalhe-conosco.png">
        <section class="container">
            <header class="header-subtitle">
                <p>Você gosta de desafios e de fazer parte de um time de pessoas altamente produtivas?</p>
                <p>Quer se envolver com uma empresa de alta tecnologia e que respira inovação?</p><br>
                <h3>Chegou a hora de trabalhar conosco.</h3>
            </header>
            <section class="content-principal">
                <div class="content">
                    <p>A FORTBRASIL é uma das maiores fintechs em atividade no Brasil no segmento de cartões private label 
                        (conhecido como “cartão de loja”). No mercado desde 1994, trabalhamos no desenvolvimento de soluções 
                        financeiras para o público das classes emergentes. Somos uma empresa Endeavor que presta serviços financeiros 
                        com responsabilidade, garantindo rentabilidade e satisfação para todos os clientes. Nosso propósito é oferecer 
                        acesso a crédito e consumo para as pessoas viverem melhor. Mas para suportar esta missão é necessário muito 
                        investimento em tecnologia, e em pessoas. Valorizamos muito o nosso quadro de colaboradores. 
                        Não é à toa que desde 2011, a FORTBRASIL é presença no ranking das Melhores Empresas Para Trabalhar (GPTW), 
                        a níveis regional, nacional e América Latina. Também estamos na lista das Pequenas e Médias Empresas Que Mais 
                        Crescem no Brasil, segundo a Deloitte/Revista Exame 2017.
                    </p>
                </div>
                <div class="player">
                    <iframe id="ytplayer-530" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                        title="YouTube video player" width="100%" height="320" src="https://www.youtube.com/embed/o6y3ZhRYWAU?enablejsapi=1&amp;origin=https%3A%2F%2Ftrabalheconosco.vagas.com.br&amp;widgetid=1" 
                        class="responsive-video">
                    </iframe>
                </div>
            </section>     
        </section>
    </article>
    <footer>

        <section class="footer-principal">
            <hr>
        </section>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>